<div class="jumbotron jumbotron-billboard text-center">
  <div class="img text-center"></div>

  <div class="jumbotron jumbotron-overlay container">
    <div class="jumbotron-content">
      <h2>What do We.Eat today?</h2>
      <p></p>
      Where do you wish to dine? Find your decision right now with We.Eat! 
      Click the button and get going, your hunger won't take care of itself!
      <p></p>
      <div class="text-center">
        <a routerLink="/questionnaire" class="text-center">
          <button mat-raised-button color="accent" class="text-center">
            Let's Go!
          </button>
        </a>
      </div>
    </div>
  </div>

</div>
