<div class="jumbotron jumbotron-billboard text-center">
  <div class="img text-center"></div>

  <div class="jumbotron jumbotron-overlay container">
    <div class="jumbotron-content">
      <h2>Was essen wir heute?</h2>
      <p></p>
      Unschlüssig wo es heute hingehen soll? Finde eine Entscheidung mit der einfachen we.eat App. Klicke den Button und
      leg los.
      <p></p>
      <div class="text-center">
        <a routerLink="/questionnaire" class="text-center">
          <button mat-raised-button color="accent" class="text-center">
            Findet eure Entscheidung!
          </button>
        </a>
      </div>
    </div>
  </div>

</div>
