
button{
    width:100%;
  }
  .jumbotron-billboard .img {
      margin-bottom: 0px;
      opacity: 0.2;
      color: #fff;
      background: #000 url("assets/foodsplash.jpg") top center no-repeat;
      width: 100%;
      height: 100%;
      background-size: cover;
      overflow: hidden;
      position:absolute;
      top:0;
      left:0;
      z-index:1;
  }
  .jumbotron-overlay {
    margin-top:20px;
    background-color: rgba(102, 113, 119, 0.5);
    height:600px !important;
  }
  .jumbotron-content {
    font-weight: bold;
    color: #000000;
    z-index:1;
  }
  .jumbotron h2 {margin-top:0;}
  .jumbotron {
    position:relative;
    width: 100%;
    height:100%;
    background-size: cover;
  }
  .jumbotron  {
    position:relative;
    z-index:2;
  }
  .container {
    z-index:2
  }
  
  @media screen and (max-width: 768px) {
    .jumbotron {
      padding-top:200px;
      padding-bottom:200px;
    }
  }
  
  