<div class="jumbotron jumbotron-billboard text-center">
  <div class="img text-center"></div>

  <div class="jumbotron jumbotron-overlay container">
    <div class="jumbotron-content">
      <h2>Worauf hast du Lust?</h2>
      <p>
      </p>
      Wähle aus der folgenden Liste:
      <mat-grid-list [cols]="breakpoint" rowHeight="50px">
        <mat-grid-tile *ngFor="let dish of dishlist" [colspan]="1" [rowspan]="1">
          <button-choice [dish]="dish" class="container-fluid"> </button-choice>
        </mat-grid-tile>
      </mat-grid-list>
      <p></p>
      <hr class="style14">
      <mat-grid-list cols="1" rowHeight="50px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button mat-raised-button color="primary" routerLink="/questionnaire"
            class="container-fluid w-50">Nächste Meinung!</button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button mat-raised-button color="primary" routerLink="/result" class="container-fluid w-50">Zur
            Auswertung</button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>



</div>
